.Destination-results {
  margin-top: 20px;
}
.Destination-results .simplebar-track.vertical {
  display: none;
}

@media only screen and (max-width: 800px) {
  .Destination-results [data-simplebar] {
    padding-bottom: 18px;
  }
}

@media only screen and (min-width: 801px) {
  .Destination-results {
    position: absolute;
    top: 98px;
    bottom: 0;
    width: 100%;
    overflow: auto;
  }

  .Destination-results .generic-header,
  .Destination-results .simplebar-content {
    padding-right: 52px;
    padding-left: 52px;
  }

  .Destination-results .simplebar-scrollbar.visible::before {
    background-color: white;
    opacity: 1;
  }
  .Destination-results .simplebar-track.vertical {
    display: block;
    right: 30px;
    margin-bottom: 10px;
  }
}
