.Search-field {
  /* margin: 0 0.75rem; */
  display: block;
  margin: auto;
  border: none;
  width: calc(100% - 1.5rem);
  height: 46px;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
    0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -7px rgba(0, 0, 0, 0.2);
}

.Search-field-wrapper {
  /* padding: 0 0.75rem 0.75rem; */
}

.Search-field:focus {
  width: 100%;
}
