/* @supports (display: grid) {
  .app-example {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .example-nav {
    grid-row: 2 / span 5;
  }

  .container-example {
    display: flex;
    grid-row: 1 / span 2;
    grid-column: 2;
    grid-column-end: -1;
  }
} */

.otl-green {
  background-color: #21a52c;
}

.transparent {
  background-color: transparent;
}

.white-text {
  color: white;
}

.generic-container {
  padding: 11px 0.75rem;
}

.fw600 {
  font-weight: 600;
}

.black-primary-text {
  color: rgba(0, 0, 0, 0.87);
}

.black-secondary-text {
  color: rgba(0, 0, 0, 0.54);
}

.dim-text {
  color: rgba(0, 0, 0, 0.38);
}

html {
  line-height: 1.5;
  /* font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif; */
  color: rgba(0, 0, 0, 0.87);
}

@media only screen and (min-width: 0) {
  html {
    font-size: 14px;
  }
}

@media only screen and (min-width: 992px) {
  html {
    font-size: 14.5px;
  }
}

@media only screen and (min-width: 1200px) {
  html {
    font-size: 15px;
  }
}

.Content-container {
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: 17px 61px 90px -20px rgba(0, 0, 0, 0.42);
}

@media only screen and (min-width: 801px) {
  .Content-container {
    float: right;
    margin-right: 2%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 78%;
    height: 90%;
    /* width: 100%;
    width: calc(100% - 25px);
     */
  }
}

@media only screen and (max-width: 800px) {
  .Side-bar.active + .Content-container {
    pointer-events: none;
    position: fixed;
    left: 55%;
    transform: scale(0.8);
  }
}

.cards-grid {
  position: absolute;
  top: 98px;
  bottom: 0;
  display: grid;
  margin-top: 30px;
  padding: 10px 4.75rem;
  width: 100%;
  overflow: auto;
  grid-template-columns: repeat(3, 30%);
  grid-column-gap: 5%;
  grid-row-gap: 50px;
}

.z-depth-6 {
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
    0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -7px rgba(0, 0, 0, 0.2);
}
